   <div class="footer bg-inverse navbar-fixed-bottom">
            <br/>
            <div class="container" style="color:white;">
                <div class="row">
                    <div class="col-md-2" >
                        <a href="https://goo.gl/maps/LU9AjAovmZp" target="_blank" class="adressLink">
                            <i class="fa fa-address-book align-text-top" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-4 ">
                        <h4>Kontakt</h4><br/>
                        <i class="fa fa-phone" aria-hidden="true"></i> +49 33638 89 880 0<br/>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> info@htr-ingenieure.de<br/>
                        <i class="fa fa-fax" aria-hidden="true"></i> +49 33638 89 880 80

                    </div>

                    <div class="col-md-4" style="text-align:right;">
                        <h4>Unsere Anschrift</h4><br/>
                        <p>
                            HTR - Architekten und Ingenieure GmbH<br/>
                            Puschkinstraße 4<br/>
                            15562 Rüdersdorf<br/><br/>
                        </p>
                    </div>
                    <div class="col-md-2" style="text-align:center;">
                        <a href="https://goo.gl/maps/LU9AjAovmZp" target="_blank" class="locationLink">
                            <i class="fa fa-map-marker align-top" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <br/>
        </div>