
<nav class="navbar navbar-toggleable-md navbar-inverse sticky-top">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right pull-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="color:white;"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-home" aria-hidden="true" style="font-size:22pt;color:forestgreen;"></i>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="leistungsspektrum">Leistungsspektrum</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle disable" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Architektur
                            </a>
                            <div class="dropdown-menu customDropDown" aria-labelledby="navbarDropdownMenuLink">

                                <a class="nav-link customDropDownMenuItem" href="architektur">Philosophie</a>
                                <div style="border: solid 0.5px gray; margin:5px;"></div>
                                <a class="nav-link customDropDownMenuItem" href="architektur#planung">Planung</a>
                                <a class="nav-link customDropDownMenuItem" href="architektur#enev">Enev</a>
                                <a class="nav-link customDropDownMenuItem" href="architektur#barrierefrei">Barrierefreies Bauen</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Technik
                            </a>
                            <div class="dropdown-menu customDropDown" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link customDropDownMenuItem" href="gebaeudetechnik">Gebäudetechnik</a>
                                <div style="border: solid 0.5px gray; margin:5px;"></div>
                                <a class="nav-link customDropDownMenuItem" href="gebaeudetechnik#waermetechnik">Wärmetechnik</a>
                                <a class="nav-link customDropDownMenuItem" href="gebaeudetechnik#sanitaertechnik">Sanitärtechnik</a>
                                <a class="nav-link customDropDownMenuItem" href="gebaeudetechnik#lueftungstechnik">Lüftungstechnik</a>
                                <a class="nav-link customDropDownMenuItem" href="gebaeudetechnik#elektrotechnik">Elektrotechnik</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projekte">Projekte</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HTR
                            </a>
                            <div class="dropdown-menu customDropDown" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link customDropDownMenuItem" href="htr">Unser Unternehmen</a>
                                <a class="nav-link customDropDownMenuItem" href="htr#stellenangebote">Stellenangebote</a>
                                <a class="nav-link customDropDownMenuItem" href="htr#rechtsfragen">Rechtsfragen</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="kontakt">Kontakt</a>
                        </li>
						 <li class="nav-item">
                            <a class="nav-link" href="bewertung">Bewertungen</a>
                        </li>
                    </ul>  
                </div>
            </div>
        </nav>